<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Time Stamp Micro Service</title>
		<link rel="stylesheet" href="/css/styles.css" />
		<script defer src="/js/app.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<header class="hero">
				<h1>Time Stamp Micro Service</h1>
			</header>
			<div class="timeStamp">
				<form action="/api/timeStamp" class="timeStamp__form">
					<label for="timeStampInput">Enter Value</label>
					<input
						type="text"
						id="timeStampInput"
						placeholder="E.g 1583041463441, 2015-12-25"
					/>
					<small class="timeStamp__error">Invalid Input</small>
					<button class="timeStamp__submit" type="submit">Get Date</button>
				</form>
			</div>
		</div>
	</body>
</html>
